<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gq.business.inforesources.mappers.GetDiseaseListMapper">

	<resultMap type="com.gq.business.inforesources.model.GetOrganDiseaseDetail"
		id="GetOrganDiseaseDetail">
		<!-- column:数据库中表的字段 property：数据库中表所有映射的实体类javaBean中的属性名 -->
		<id column="diseaseid" property="diseaseId" />
		<result column="diseasename" property="diseaseName" />
		<result column="organid" property="organId" />
		<result column="diseasesummary" property="diseaseSummary" typeHandler="com.gq.business.inforesources.model.MyBlobTypeHandler"/>
		<result column="symptom" property="symptom" typeHandler="com.gq.business.inforesources.model.MyBlobTypeHandler"/>
		<result column="healthcare" property="healthCare" typeHandler="com.gq.business.inforesources.model.MyBlobTypeHandler"/>
		<result column="pathology" property="pathology"  typeHandler="com.gq.business.inforesources.model.MyBlobTypeHandler"/>
		<result column="identification" property="identification" typeHandler="com.gq.business.inforesources.model.MyBlobTypeHandler"/>
		<result column="prevention" property="prevention" typeHandler="com.gq.business.inforesources.model.MyBlobTypeHandler"/>
		<result column="complication" property="complication" typeHandler="com.gq.business.inforesources.model.MyBlobTypeHandler"/>
		<result column="department" property="department" />
	</resultMap>

	<select id="getDiseaseList" resultType="com.gq.business.inforesources.model.GetDiseaseList">
		select * from t_organdisease t where t.organid=#{id}
	</select>

	<select id="getDiseaseDetail" resultMap="GetOrganDiseaseDetail">
		select * from t_organdisease t where t.diseaseid=#{id}
	</select>

</mapper>