<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gq.business.inforesources.mappers.GetHealthLectureArticleMapper">
     <select id="getHealthLectureArticleList" resultType="com.gq.business.inforesources.model.GetHealthLectureArticleList">
        select * from t_healthlecturearticle t where t.categoryid =#{id}
    </select>
    
    <select id="getHealthLectureArticleDetail" resultType="com.gq.business.inforesources.model.GetHealthLectureArticleDetail">
        select * from t_healthlecturearticle t where t.articleid = #{id}
    </select>
</mapper>
